@media (max-width: 1024px) {
    .img-logo-header, .btn-buy, .menu-desktop {
        display: none;
    }

    .container-header {
        background-color: transparent;
        padding: 0;
        padding: 0 20px;
        margin-top: 20px;
    }

    .container-home {
        flex-direction: column;
        gap: 50px;
    }

    .container-home img {
        width: 90%;
    }

    .container-about {
        flex-direction: column;
    }

    .container-about img {
        width: 50%;
    }

    .container-about p {
        border-left: none;
        font-size: 2rem;
        padding-left: 0;
        text-align: center;
        border-top: 8px solid #EB8AAD;
        padding-top: 40px;
    }

    .box-products div img{
        width: 100%;
    }

    .box-products {
        grid-template-columns: repeat(2, 2fr);
    }

    footer {
        flex-direction: column-reverse;
    }

    #contact {
        width: 100%;
        padding-bottom: 40px;
    }

    #location {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .p-local {
        margin-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    .btn-open, .btn-buy-home {
        display: none;
    }
}

@media (max-width: 480px) {
    .btn-open i {
        font-size: 2.5rem;
    }

    .btn-open {
        width: 70px;
        height: 70px;
    }

    .container-about p {
        font-size: 1.3rem;
    }

    .box-products {
        gap: 20px;
    }

    .container-products h2 {
        font-size: 2.5rem;
    }

    #contact h2 {
        font-size: 2.2rem;
    }
}